/* Author Name  : Sourav Sarker
Contact         : souravprogram@gmail.com
Subject         : Business Website
Project Type    : Testing Pourpus  */

/* ##########  Common CSS ########## */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 1000px;
}

section {
    padding: 50px 100px;
}

p {
    font-size: 15px;
    color: #111;
}

.boxed-btn {
    display: inline-block;
    background-color: violet;
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    letter-spacing: 1.1px;
    cursor: pointer; 
}
.boxed-btn:hover {
    letter-spacing: 1.6px;
}

/* heading  */
.heading {
    position: relative;
    color: #7D3C98;
    font-size: 21px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    padding-left: 70px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.heading:before {
    position: absolute;
    left: 0;
    bottom: 14px;
    height: 3px;
    width: 50px;
    background: #7D3C98;
    border-radius: 2px;
    content: "";
}


/* ########## End Common CSS ##########  */


/* ##########  Start Header CSS ########## */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    padding: 15px 100px;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,0.08);

}

header .logo {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    letter-spacing: 1.2px;
}
header.sticky .logo {
    color: fuchsia;
}
header .logo span {
    color: gold;
}

header .navigation {
    display: flex;
    position: relative;
}
header .navigation li {
    position: relative;
    margin-left: 35px;
    list-style: none;
}

header .navigation li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    color: #fff;
}
header.sticky .navigation li a {
    color: #111;
}
/* ##########  End Header CSS ########## */


/* ########## Start Banner Section ###########  */
.banner {
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}
.banner:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: fuchsia;
    content: "";
    opacity: .2;
    
}

.banner h3 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1.4px;
    margin-bottom: 20px;
   
}

.banner h1 {
    font-size: 55px;
    line-height: 72px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1.4px;
    margin-bottom: 20px;
}


/* ########## End Banner Section ###########  */


/* ########## Start About CSS ###########  */
.about {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about .row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about .row .col50 {
    width: 48%;
    overflow: hidden;
}

.about .imgBox {
    position: relative;
    width: 100%;
    min-height: 380px;

}
.about .imgBox img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about .textBox h2 {
    font-size: 54px;
    line-height: 66px;
    color: #111;
    font-weight: 700;

}
.about .textBox p {
    font-size: 16px;
    color: #111;
    font-weight: 300;
    margin: 10px 0;
}

.about .textBox  ul li {
    list-style: none;
    font-size: 16px;
    color: #111;
}
.about .textBox  ul li i.fa {
    margin-right: 15px;
    color: #0000FF;
}


/* ########## End About CSS ###########  */


/* Start Services Section */
.services {
    background: #F7F9FF;
}


.services .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.services .content .box {
    width: 350px;
    
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin: 15px;
    color: #111;
    background: #fff;
    
}


.services .content .box .imgBox {
    position: relative;
    width: 100%;
    height: 60px;
    width: 60px;
}
.services .content .box .imgBox img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.services .content .box .textBox h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0
}
.services .content .box .textBox p {
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 20px;
}
.services .content .box .textBox .read-more {
    display: inline-block;
    color: #111;
    text-transform: uppercase;
}



/* Start Team Member Section  */
.teams .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.title {
    max-width: 540px;
} 
.teams .content .box {
    width: 260px;
    background: #171A23;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 30px;
    color: #fff;
    text-align: center;
}
.teams .content .box:nth-child(2),
.teams .content .box:nth-child(4),
.teams .content .box:nth-child(5),
.teams .content .box:nth-child(7){
    background: #5D6D7E;
}

.teams .content .box .imgBox {
    position: relative;
    height: 130px;
    width: 130px;
}
.teams .content .box .imgBox img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
   
}

.teams .content .box .textbox {
    padding-top: 20px;
}
.teams .content .box .textbox h3 {
    font-size: 20px;
    font-weight: 500;
}
.teams .content .box .textbox h4 {
    font-size: 18px;
    font-weight: 600;
}

.teams .content .box .textbox .read-more {
    display: inline-block;
    color: #fff;
    padding-top: 20px;
    font-size: 15px;
}


/* project section  */
.project {
    background: #ddd;
}

.project .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    flex-wrap: wrap;
}
.project .content .box {
    width: 340px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    border: 10px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
    background: #fff;
    border-radius: 5px;
}

.project .content .box .imgBox {
    position: relative;
    height: 300px;
    width: 100%;

}
.project .content .box .imgBox img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.project .content .box .textBox {
    padding: 5px 15px 5px 0;
}

.see-more {
    width: 100%;
    text-align: center;
    padding-top: 40px;
}
.see-more a {
    display: inline-block;
    padding: 10px 30px;
    background: #111;
    color: #fff;
    border-radius: 3px;

}


/* Start Testimonials  */

.testimonials .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    margin-top: 40px;
    
}

.testimonials .content .box {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 40px;
    margin: 40px;
}
.testimonials .content .box .imgBox {
    position: relative;
    height: 120px;
    width: 120px;
}
.testimonials .content .box .imgBox img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}





/* Content Section  */
.contact{
    background: #4B78A7;
}

.contact .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.contact .row .col40 {
    width: 38%;
}
.contact .row .col60 {
    width: 58%;
}

.contact .contact-left {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid #ddd;
    margin: 20px;
}

.address-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.address-box .address {
    margin: 15px 0;
}

.contact .social-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.contact .social-box a {
    margin-right: 20px;
    color: #111;
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    transition: 0.5s;
}
.contact .social-box a i.fa {
    margin-left: 10px;
    margin-top: 7px;
    transition: 0.5s;
}
.contact .social-box a:hover {
    background: #111;
}
.contact .social-box a:hover i.fa {
    color: #fff;
}


.contact form {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.contact form .inputBox {
    position: relative;
    width: 90%;
    margin-bottom: 20px;
}
.contact form .inputBox input,
.contact form .inputBox textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    background: #4B78A7;
    resize: none;
}

.contact form .inputBox input::placeholder,
.contact form .inputBox textarea::placeholder {
    color: #fff;
}

.contact form .inputBox input[type="submit"] {
    border: none;
    text-align: left;
    background: #ddd;
    padding: 10px 20px;
    color: #111;
    width: 200px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 30px;
    border-top: 1px solid #ddd;
}

footer p {
    font-size: 16px;
}
footer a {
    display: inline-block;
    color: brown;
    font-weight: 500;
    text-decoration: underline;
}


/* ************ Responsive Code ************** */

/* Media Query for Mobile Device , Low Resulation Ipads and tablets  */
@media (max-width: 768px) {
    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .logo {
        font-size: 17px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 64px);
        position: fixed;
        left: 0;
        top: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li {
        margin-left: 0;
        margin-bottom: 20px;
    }
    header .navigation li a {
        font-size: 1.6em;
        color: #111;
    }

    /* toggle*/
    .toggle {
        position: relative;
        height: 40px;
        width: 40px;
        background-size: 30px;
        background-repeat: no-repeat;
        background-image: url(../img/menu.png);
        background-position: center;
        cursor: pointer;
    }
    .toggle.active {
        background-image: url(../img/close.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
    }
    header.sticky .toggle {
        filter: invert(1);
    }


    /* Banner */
    .banner h3 {
        font-size: 18px;
    }

    .banner h1 {
        font-size: 45px;
        line-height: 55px;
    }


    /* About */
    section {
        padding: 50px;
    }
    .about {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about .row {
        flex-direction: column;
    }
    .about .row .col50 {
        width: 100%;
    }
    .about .imgBox {
        max-height: 200px;
    }
    .heading {
        font-size: 18px;
        line-height: 30px;
    }
    .about .textBox h2 {
        font-size: 40px;
        line-height: 50px;
    }


    /* Contact  */
    .contact .row {
        flex-direction: column;
    }
    .contact .row .col60,
    .contact .row .col40 {
        width: 100%;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    }

    .contact .contact-left {
        border-right: none;
    }
    .contact .row .col40 {
        margin-bottom: 20px;
    }
    .contact .row .col60 {
        padding: 20px;
    }
}



/* for Laptop small screen  */

@media (min-width: 769px) and (max-width: 1024px) {
    header,
    header.sticky {
        padding: 10px 20px;
    }
    header .logo {
        font-size: 16px;
    }
    header .navigation li {
        margin-left: 20px;
    }
    header .navigation li a {
        font-size: 14px;
    }
    .about .textBox h2 {
        font-size: 45px;
        line-height: 55px;
    }
    .heading {
        font-size: 19px;
        line-height: 25px;
    }
}


